<!-- shows all the lists a user has -->
<!--no need for user authorization here, as user can not access other lists through a url -->

<%= link_to "Add a list", "/lists/new" %>
<% if @lists %>
	<table class="table">
	
		<% @lists.each do |list| %>
			<tr><td>
				<h2><%= link_to list.name, "/lists/#{list.id}"%></h2>
				<p><%=list.description%></p>
					<%= link_to "/lists/#{list.id}", method: 'delete' do %> <i class="fa fa-trash-o"></i>Delete<%end%>
				<%= link_to edit_list_path(list.id) do%> <i class="fa fa-edit"></i> Edit<%end%>
			</td></tr>
		<% end %>
	
	</table>
<% else %>
	<h2>No lists yet!</h2>
<% end %>
