<h1>Add a comment</h1>

<!--Send a POST request to the comments resource-->
<%= form_tag "/comments" do %>

  <%= label_tag :text %>
  <%= text_area_tag "text", nil, rows: 4, cols:100 %>

<%= hidden_field_tag 'location_id', params[:location_id] %>
  <br>
  <br>
  <%= submit_tag "Submit" %>
<% end %>
