<!-- shows all the lists a user has -->
<% if session[:user_id]==@user.id %><!--user authorization-->
	<% editable = true %>
<% end %>

<% if editable %>
	<%= link_to "Add a list", "/lists/new" %>
<% end %>
<% if @lists %>
	<table class="table">
	  		<h2><%= "#{@user.name}'s lists" %></h2>
	  </table>
	<table class="table">
		<% @lists.each do |list| %>
	
				<tr>
				<td>
					<h2><%= link_to list.name, "/lists/#{list.id}"%></h2>
					<p><%=list.description%></p>
				
				<% if editable %>
				<%= link_to "/lists/#{list.id}", method: 'delete' do %> <i class="fa fa-trash-o"></i>Delete<%end%>
				<%= link_to edit_list_path(list.id) do%> <i class="fa fa-edit"></i> Edit<%end%>
				<% end %>
		
				<% if !editable %>
					<%if Favorite.where(:list_id => list.id, :user_id => session[:user_id]).blank? %>
						<%= link_to new_favorite_path(:list_id => list.id) do%> 
						<i class="fa fa-star-o"></i>Favorite
						<% end %>
					<% else %>
						<i class="fa fa-star"></i>Favorited
					<% end %>
				<% end %>
							
			</td></tr>
		<% end %>
	
	</table>
<% else %>
	<h2>No lists yet!</h2>
<% end %>
